@font-face {
  font-family: "DinDisplay";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/pfdindisplaypro-regular.woff2") format("woff2"),
    url("../fonts/pfdindisplaypro-regular.woff") format("woff");
}
