$basic-black: #111111;
$light-black: #202020;

$basic-white: #ffffff;

$basic-grey: #ababab;
$light-grey: #c4c4c4;
$very-light-grey: #e3e3e3;

$yellow: #ffd12f;
$violet: #9a18ff;

$basic-font-family: "DinDisplay", "Arial", sans-serif;
